<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="back/include/header::html('文章管理')"></head>
<link rel="stylesheet" th:href="@{/css/include/checkbox/awesome-bootstrap-checkbox.css}">
<link rel="stylesheet" th:href="@{/css/include/select/bootstrap-select.min.css}">
<link rel="stylesheet" th:href="@{/js/include/kindeditor/themes/default/default.css}">
<link rel="stylesheet" th:href="@{/css/back/article.css}">
<body>
<div th:replace="back/include/top::html"></div>
<div th:replace="back/include/side::html"></div>
<div class="container">
    <div class="back_article_list">
        <ol class="breadcrumb">
            <li><a th:href="@{/admin}"><i class="fa fa-home">首页</i></a></li>
            <li class="active">文章列表</li>
        </ol>
        <div style="margin-bottom: 10px;width: 100%">
            <button class="btn btn-warning" @click="addButton"><i class="fa fa-plus"> 增加文章</i></button>
            <button class="btn btn-danger" @click="deleteAllButton"><i class="fa fa-trash-o"> 批量删除</i></button>
            <div id="search">
                <div class="input-group">
                    <input class="form-control" type="text" v-model.lazy="key">
                    <span class="input-group-btn">
                         <button class="btn btn-info" type="button" @click="search"><i class="fa fa-search"> 搜索</i></button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped table-condensed back_article_list_table">
            <thead>
            <tr>
                <th id="checkAllTH">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="checkAll" value="">
                        <label for="checkAll"></label>
                    </div>
                </th>
                <th>ID</th>
                <th>分类</th>
                <th>标题</th>
                <th>简介</th>
                <th>添加时间</th>
                <th>状态</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="art,index in articles">
                <td class="checkOne">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" :id=art.id :value=art.id name="articleCheckbox">
                        <label :for=art.id></label>
                    </div>
                </td>
                <td>{{art.id}}</td>
                <td>{{art.category.name}}</td>
                <td>{{art.title}}</td>
                <td>{{art.summary | subStringFilter(0,35)}}...</td>
                <td>{{art.createDate | formatDateFilter}}</td>
                <td><span class="label" :class="art.status==0?'label-success':'label-danger'">{{art.status|statusFilter}}</span></td>
                <td><a href="#no" @click="getButton(index+1,art.id)"><span class="fa fa-edit"></span></a></td>
                <td><a href="#no" @click="deleteButton(art.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="back/include/404_list::html('文章')"></div>
        <div th:replace="back/include/404_search::html('{{key}}','文章')"></div>
    </div>
    <div th:replace="back/include/page::html"></div>
    <div th:replace="back/modal/addArticle::html"></div>
    <div th:replace="back/modal/editArticle::html"></div>
    <!--<div th:replace="back/modal/replyMessage::html"></div>-->
</div>
<div th:replace="back/include/footer::html"></div>
<script th:src="@{/js/include/select/bootstrap-select.js}"></script>
<script th:src="@{/js/include/kindeditor/kindeditor-all.js}"></script>
<script th:src="@{/js/include/kindeditor/lang/zh-CN.js}"></script>
<script th:src="@{/js/back/article.js}"></script>
</body>
