<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fore/include/header::html('零号商城')"></head>
<link rel="stylesheet" th:href="@{/css/exception/404.css}">
<body>
<div class="main">
    <div class="header">
        <h1>Fantasy error page</h1>
    </div>
    <div class="w3-main">
        <div class="agile-info">
            <h2>404</h2>
            <h3>非常抱歉!</h3>
            <p>页面出现了一点小问题</p>
            <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i>返回首页</a>
        </div>
    </div>
    <div class="footer-w3l">
        <p>©2018-2020 linhao-market 版权所有</p>
    </div>
</div>
<div th:replace="fore/include/footer::html" ></div>
<script th:src="@{/js/fore/help.js}" ></script>

</body>