<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="back/include/header::html('轮播图管理')"></head>
<link rel="stylesheet" th:href="@{/css/include/checkbox/awesome-bootstrap-checkbox.css}">
<link rel="stylesheet" th:href="@{/css/include/select/bootstrap-select.min.css}">
<link rel="stylesheet" th:href="@{/css/back/image.css}">
<body>
<div th:replace="back/include/top::html"></div>
<div th:replace="back/include/side::html"></div>
<div class="container">
    <div class="back_carousel_search">
        <ol class="breadcrumb">
            <li><a th:href="@{/admin}"><i class="fa fa-home">首页</i></a></li>
            <li class="active">轮播图</li>
        </ol>
        <div style="margin-bottom: 10px;width: 100%">
           <span>
               <label for="uploadFile1" class=" btn btn-warning"><i class="fa fa-plus"></i>上传图片</label>
               <input id="uploadFile1" name="image" type="file" accept="image/*" style="display:none"
                      @change="getFile($event)"/>
           </span>
            <button class="btn btn-danger" @click="deleteAllButton"><i class="fa fa-trash-o"> 批量删除</i></button>
        </div>
        <div class="carouselDIV">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th id="checkAllTH">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <input type="checkbox" id="checkAll">
                            <label for="checkAll"></label>
                        </div>
                    </th>
                    <th>ID</th>
                    <th>位置</th>
                    <th class="mainImage">图片</th>
                    <th>状态</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="image in carousels">
                    <td class="checkOne">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <input type="checkbox" :id=image.id :value=image.id name="carouselCheckbox">
                            <label :for=image.id></label>
                        </div>
                    </td>
                    <td>{{image.id}}</td>
                    <td>{{image.role}}</td>
                    <td><img height="130px" width="400px" :src="getImage(image.id)"></td>
                    <td v-if="image.status==1"><span class="label label-success">启用</span></td>
                    <td v-if="image.status==0"><span class="label label-danger">禁用</span></td>
                    <td><a href="#no" @click="editCarousel_(image.id)"><span class="fa fa-edit"></span></a></td>
                    <td><a href="#no" @click="deleteCarousel(image.id)"><span class="fa fa-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="back/modal/editCarousel::html"></div>

    </div>
</div>
    <div th:replace="back/include/footer::html"></div>
    <script th:src="@{/js/include/select/bootstrap-select.js}"></script>
    <script th:src="@{/js/back/carousel.js}"></script>
</body>
