<div th:fragment="html" class="container">
    <div id="logisticsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logisticsModal"
         aria-hidden="true">
        <div class="modal-dialog logisticsModalDialog">
            <div class="modal-content logisticsModalContent">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="text-align: center">物流详情</h4>
                </div>
                <div class="modal-body">
                    <div class="logisticsDiv">
                        <ul class="cbp_tmtimeline" v-for="log,index in logistics">
                            <li>
                                <time class="cbp_tmtime" :class="{cbp_tmtime1:index==0}"><span>{{log.date | formatDateFilter}}</span></time>
                                <div class="cbp_tmicon"></div>
                                <div class="cbp_tmlabel" :class="{cbp_tmlabel1:index==0}">
                                    <p>{{log.location}}</p>
                                </div>
                            </li>
                        </ul>
                        <div id="notLogistics" style="display: none">
                            <h3 class="greenSpan">亲爱的，还没有物流信息！</h3>
                            <h3>请耐心等待吧，爱你哦（づ￣3￣）づ╭❤～</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div><!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>