<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fore/include/header::html('零号商城')"></head>
<link rel="stylesheet" th:href="@{/css/fore/category.css}">
<body>
<div th:replace="fore/include/top::html" ></div>
<div th:replace="fore/include/nav::html" ></div>
<div class="main">
    <div class="category_img">
        <a :href="getCategory(category.id)">
            <img :src="getImage('store',category.imgID)" :alt="'category'+category.id">
        </a>
    </div>
    <div class="category">
        <div th:replace="fore/category/side::html" ></div>
        <div th:replace="fore/category/top::html" ></div>
        <div th:replace="fore/category/product::html" ></div>
    </div>
</div>


<div th:replace="fore/include/footer::html" ></div>
<script th:src="@{/js/fore/category.js}" ></script>
</body>