<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fore/include/header::html('零号商城')"></head>
<link rel="stylesheet" th:href="@{/css/fore/home.css}">
<body>
<div th:replace="fore/include/top::html" ></div>
<div th:replace="fore/include/nav::html" ></div>
<div class="home">
    <div th:replace="fore/home/category::html" ></div>
    <div th:replace="fore/home/carousel::html" ></div>
    <div th:replace="fore/home/product::html" ></div>
</div>
<div th:replace="fore/include/footer::html" ></div>
<script th:src="@{/js/fore/home.js}" ></script>
</body>