<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fore/include/header::html('零号商城')"></head>
<link rel="stylesheet" th:href="@{/css/include/validation/validationEngine.jquery.css}">
<link rel="stylesheet" th:href="@{/css/include/dialog/jquery-confirm.min.css}">
<link rel="stylesheet" th:href="@{/css/fore/category.css}">
<link rel="stylesheet" th:href="@{/css/fore/product.css}">
<body>
<div th:replace="fore/include/top::html" ></div>
<div th:replace="fore/include/nav::html" ></div>
<div class="main">
    <div class="category_img">
        <a  :href="getCategory(product.store.cid)">
            <img  :src="getImage('store',product.category.id)" :alt="'store'+product.store.id">
        </a>
    </div>
    <div class="myproduct">
        <div th:replace="fore/product/imgAndInfo::html" ></div>
        <div th:replace="fore/product/detailAndAccess::html" ></div>
        <div id="loadImg" style="display: none"></div>
        <div th:replace="fore/product/like::html" ></div>
    </div>
    <div th:replace="fore/modal/login::html" ></div>
    <div th:replace="fore/modal/forgetUser::html" ></div>

</div>
<div th:replace="fore/include/footer::html" ></div>
<script th:src="@{/js/include/validation/jquery.validationEngine-zh_CN.js}" ></script>
<script th:src="@{/js/include/validation/jquery.validationEngine.js}" ></script>
<script th:src="@{/js/include/dialog/jquery-confirm.min.js}" ></script>
<script th:src="@{/js/fore/product.js}" ></script>
</body>