<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fore/include/header::html('零号商城')"></head>
<link rel="stylesheet" th:href="@{/css/include/dialog/jquery-confirm.min.css}">
<link rel="stylesheet" th:href="@{/css/fore/product.css}">
<link rel="stylesheet" th:href="@{/css/fore/review.css}">
<body>
<div th:replace="fore/include/top::html" ></div>
<div th:replace="fore/include/nav::html" ></div>
<div class="main">
    <div class="access">
        <div th:replace="fore/review/info::html" ></div>
        <div th:replace="fore/review/review::html" ></div>
    </div>
</div>
<div th:replace="fore/include/footer::html" ></div>
<script th:src="@{/js/include/dialog/jquery-confirm.min.js}" ></script>
<script th:src="@{/js/fore/reviewSuccess.js}" ></script>
</body>