<div class="message" th:fragment="html">
    <div class="messageDIV">
        <h2><i class="fa fa-globe fa-2x"></i> 在线客服</h2>
        <p>
            自助高效、无需等待，24小时解答您的咨询
        </p>
        <p>
            上班时间：7天*24小时
        </p>
        <p>小贴士：</p>
        <p>1、请用一句话描述您的问题，如“直通车如何收费</p>
        <p>2、省略问候语, 如“你好” “在吗”</p>
        <button class="btn btn-info" @click="addButton">我要留言</button>
    </div>
    <div class="messageDIV">
        <h2><i class="fa fa-phone fa-2x"></i> 电话客服</h2>
        <p>需要等待且会产生通讯费用，热线服务时间：周一至周五9:00~18:00</p>
        <p>建议先使用在线客服为您解答。</p>
        <p><b>客服电话：123456789</b></p>
    </div>
</div>