<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="back/include/header::html('店铺管理')"></head>
<link rel="stylesheet" th:href="@{/css/include/checkbox/awesome-bootstrap-checkbox.css}">
<link rel="stylesheet" th:href="@{/css/include/select/bootstrap-select.min.css}">
<link rel="stylesheet" th:href="@{/css/back/store.css}">
<body>
<div th:replace="back/include/top::html"></div>
<div th:replace="back/include/side::html"></div>
<div class="container">
    <div class="back_category_list">
        <ol class="breadcrumb">
            <li><a th:href="@{/admin}"><i class="fa fa-home">首页</i></a></li>
            <li class="active">店铺列表</li>
        </ol>
        <div style="margin-bottom: 10px;width: 100%">
            <button class="btn btn-danger" @click="deleteAllButton"><i class="fa fa-trash-o"> 批量删除</i></button>
            <div id="search">
                <div class="input-group">
                    <input class="form-control" type="text" v-model="key">
                    <span class="input-group-btn">
                         <button class="btn btn-info" type="button" @click="search"><i class="fa fa-search"> 搜索</i></button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped table-condensed back_store_list_table">
            <thead>
            <tr>
                <th id="checkAllTH">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="checkAll" value="">
                        <label for="checkAll"></label>
                    </div>
                </th>
                <th>ID</th>
                <th width="20%">店铺名称</th>
                <th>类型</th>
                <th>添加时间</th>
                <th>状态</th>
                <th>查看</th>
                <th colspan="2">编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="store in stores">
                <td class="checkOne">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" :id=store.id :value=store.id name="storeCheckBox">
                        <label :for=store.id></label>
                    </div>
                </td>
                <td>{{store.id}}</td>
                <td>{{store.name}}</td>
                <td>{{store.type | typeFilter}}</td>
                <td>{{store.addDate | formatDateFilter}}</td>
                <td>
                    <span class="label" :class="store.status==0 ? 'label-success': store.status==1 ? 'label-danger':'label-warning'">
                        {{store.status | statusFilter}}
                    </span>
                </td>
                <td><a href="#no" @click="getStore(store.id)"><span class="fa fa-eye"></span></a></td>
                <td><a href="#no" @click="editStore(0,store.id)"><span class="fa fa-check"></span></a></td>
                <td><a href="#no" @click="editStore(1,store.id)"><span class="fa fa-times"></span></a></td>
                <td><a href="#no" @click="editStore(3,store.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="back/include/page::html"></div>
    <div th:replace="back/modal/getStore::html"></div>
</div>
<div th:replace="back/include/footer::html"></div>
<script th:src="@{/js/include/select/bootstrap-select.js}"></script>
<script th:src="@{/js/back/store.js}"></script>
</body>
