<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="back/include/header::html('用户管理')"></head>
<link rel="stylesheet" th:href="@{/css/back/user.css}">
<body>
<div th:replace="back/include/top::html"></div>
<div th:replace="back/include/side::html"></div>
<div class="container">
    <div class="back_user_list">
        <ol class="breadcrumb">
            <li><a th:href="@{/admin}"><i class="fa fa-home">首页</i></a></li>
            <li class="active">所有用户</li>
        </ol>
        <div style="margin-bottom: 10px;width: 100%;height: 30px">
            <div id="search">
                <div class="input-group">
                    <input class="form-control" type="text" v-model.lazy="key">
                    <span class="input-group-btn">
                         <button class="btn btn-info" @click="search"><i class="fa fa-search"> 搜索</i></button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped table-condensed back_user_list_table">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户头像</th>
                <th>用户名</th>
                <th>账户余额</th>
                <th>最近消费</th>
                <th>消费时间</th>
                <th>最近充值</th>
                <th>充值时间</th>
                <th>状态</th>
                <th colspan="2">编辑</th>
                <th>查看</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td>{{user.id}}</td>
                <td><img :src="getImage(user.id)" width="40px"></td>
                <td>{{user.name}}</td>
                <td>￥{{user.account | formatMoneyFilter }}</td>
                <td v-if="user.expenses.length!=0">￥{{user.expenses[0].sum | formatMoneyFilter }}</td>
                <td v-if="user.expenses.length==0"></td>
                <td v-if="user.expenses.length!=0">{{user.expenses[0].createDate | formatDateFilter }}</td>
                <td v-if="user.expenses.length==0"></td>
                <td v-if="user.recharges.length!=0">￥{{user.recharges[0].sum | formatMoneyFilter }}</td>
                <td v-if="user.recharges.length==0"></td>
                <td v-if="user.recharges.length!=0">{{user.recharges[0].createDate | formatDateFilter }}</td>
                <td v-if="user.recharges.length==0"></td>
                <td><span class="label" :class="user.status==0?'label-success':'label-danger'">{{user.status | statusFilter}}</span></td>
                <td><a href="#no" @click="checkUser(user.id)"><span class="fa fa-check"></span></a></td>
                <td><a href="#no" @click="shieldUser(user.id)"><span class="fa fa-close"></span></a></td>
                <td><a href="#no" @click="getUser(user.id)"><span class="fa fa-eye"></span></a></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="back/include/404_list::html('用户')"></div>
        <div th:replace="back/include/404_search::html('{{key}}','用户')"></div>
    </div>
    <div th:replace="back/include/page::html"></div>
    <div th:replace="back/modal/getUser::html"></div>
</div>
<div th:replace="back/include/footer::html"></div>
<script th:src="@{/js/back/user.js}"></script>
</body>