<div th:fragment="html" class="container">
    <div id="addScoreModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addScoreModel"
         aria-hidden="true">
        <div class="modal-dialog addScoreModelDialog">
            <div class="modal-content addScoreModelContent">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="text-align: center">添加会员积分</h4>
                </div>
                <form id="addForm" onsubmit="return false;" @submit="addMember_">

                <div class="modal-body">
                    <div class="back_product_add">
                        <table class="addTable">
                            <tr>
                                <td>会员等级</td>
                                <td><input type="text" class="form-control validate[required,maxSize[10]]" placeholder="请输入会员等级" v-model="addMember.name"></td>
                            </tr>
                            <tr>
                                <td>会员图标颜色代码</td>
                                <td><input type="text" class="form-control validate[required]" placeholder="请输入会员图标颜色代码" v-model="addMember.icon"></td>
                            </tr>
                            <tr>
                                <td>最小积分</td>
                                <td><input type="text" class="form-control validate[required,custom[number]]" placeholder="请输入最小积分" v-model="addMember.min"></td>
                            </tr>
                            <tr>
                                <td>最大积分</td>
                                <td><input type="text" class="form-control validate[required,custom[number]]" placeholder="请输入最大积分" v-model="addMember.max"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                    <div class="modal-footer" style="text-align: center">
                        <button class="btn btn-default" type="submit">提交</button>
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
                </div>
            </div><!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>