<div th:fragment="html" class="container">
    <div id="editCategoryModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCategoryModel"
         aria-hidden="true">
        <div class="modal-dialog editCategoryModelDialog">
            <div class="modal-content editCategoryModelContent">
                <input type="hidden" name="id" id="categoryIDEdit">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="text-align: center">编辑分类</h4>
                </div>
                <form id="updateForm" onsubmit="return false;" @submit="updateCategory(editBean.id)">

                    <div class="modal-body">

                        <table class="editCategoryTable">
                            <tr>
                                <td>
                                    分类名称：
                                </td>
                                <td>
                                    <input type="text" placeholder="请输入分类名称"
                                           class="form-control validate[required,maxSize[10]]" v-model="editBean.name">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    分类图标：
                                </td>
                                <td>
                                    <input type="text" placeholder="请输入分类图标(如：fa-**)" class="form-control"
                                           v-model="editBean.icon">
                                </td>
                            </tr>
                            <tr>
                                <td>分类图片：</td>
                                <td><input type="file" class="form-control"
                                           @change="setFile($event)"></td>
                            </tr>
                            <tr>
                                <td>所属店铺：</td>
                                <td th:if="${session.manager!=null&&session.manager.sid!=0}"
                                    th:text="${session.manager.store.name}"></td>
                                <td th:if="${session.manager!=null&&session.manager.sid==0}">无</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button class="btn btn-default" type="submit">提交</button>
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div><!-- /.modal-content -->
    </div>

</div>
<!-- /.modal-dialog -->