<div class="applyStore" th:fragment="html">
    <h3>请填写以下信息：</h3>
    <form id="applyForm" onsubmit="return false;" @submit="apply" control="name,email">
    <table>
        <tr>
            <td>店铺名称：</td>
            <td>
                <input  id="name" type="text" name="name" class="form-control validate[required,maxSize[10]]"
                        :url="getUrl('/validate/storeName')" error="店铺名称已存在" success="可以使用" placeholder="请输入您的店铺名称" v-model.trim="store.name">
            </td>
        </tr>
        <tr>
            <td>店铺类型：</td>
            <td>
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="inlineRadio1" value="type_private" v-model="store.type">
                    <label for="inlineRadio1">个人店铺</label>
                </div>
                <div class="radio radio-inline">
                    <input type="radio" id="inlineRadio2" value="type_business" v-model="store.type">
                    <label for="inlineRadio2">商业店铺</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>店铺分类：</td>
            <td>
                <div class="dropdown bootstrap-select">
                    <select class="selectpicker" data-style="btn-success" tabindex="-98" id="select" v-model="store.cid">
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>申请人：</td>
            <td><input type="text"  class="form-control  validate[required,minSize[2],maxSize[6],custom[chinese]]" placeholder="请输入您的姓名" v-model="store.applyName"></td>
        </tr>
        <tr>
            <td>移动电话：</td>
            <td><input type="text" class="form-control validate[required,custom[phone]]" placeholder="请输入您的移动电话" v-model="store.mobile"></td>
        </tr>
        <tr>
            <td>固定电话：</td>
            <td><input type="text" class="form-control validate[required,custom[phone]]" placeholder="请输入您的固定电话" v-model="store.telephone"></td>
        </tr>
        <tr>
            <td>身份证号：</td>
            <td><input type="text" class="form-control validate[required,custom[chinaId]]" placeholder="请输入您的身份证号" v-model="store.identification"></td>
        </tr>
        <tr>
            <td>个人邮箱：</td>
            <td>
                <input id="email" name="email" class="form-control validate[required,custom[email]]" type="email" placeholder="请输入您的个人邮箱" v-model="store.email"
                       :url="getUrl('/validate/storeEmail')" error="邮箱已被绑定" success="可以使用" >
            </td>
        </tr>
        <tr>
            <td>店铺简介：</td>
            <td>
                    <textarea id="editor_id" name="content" style="width:700px;height:300px;"
                              placeholder="请输入你的店铺简介"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn btn-success" style="width: 40%" type="submit">提交</button>
                <button class="btn btn-default" style="width: 40%" @click="reset">重置</button>
            </td>
        </tr>

    </table>
    </form>
</div>
